<?xml version="1.0"?>
<robot name="lpl_kitchen">
   <link name="left_gripper">
     <visual>
       <origin rpy="0.0 0 0" xyz="0 0 0"/>
       <geometry>
         <!-- <mesh filename="../../meshes/lpl_kitchen.obj"/> -->
         <mesh scale="1 1 1" filename="../../meshes/lpl_kitchen_aligned.obj"/>
       </geometry>
     </visual>
    </link>
</robot>
