<?xml version="1.0"?>
<robot  name="node41" >
 <material  name="blue" >
  <color  rgba="0 0 0.8 1.0" />
 </material>
 <material  name="red" >
  <color  rgba="0.8 0 0 1.0" />
 </material>
 <material  name="black" >
  <color  rgba="0.0 0.0 0.0 1.0" />
 </material>
 <link  name="root_mod" >
  <visual >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <material  name="black" />
   <geometry >
    <cylinder  length="0.02"  radius="0.05" />
   </geometry>
  </visual>
 </link>
 <link  name="linkMod_1" >
  <inertial >
   <origin  rpy="-0.0 1.5707963267948966 0.0"  xyz="-8.881784197001253e-18 0.0 0.04" />
   <mass  value="0.12" />
   <inertia  ixz="0.0"  iyy="0.0"  ixx="0.0005563635000000001"  ixy="0.0"  iyz="0.0"  izz="0.0005563635000000001" />
  </inertial>
  <visual >
   <origin  rpy="-0.0 1.5707963267948966 0.0"  xyz="-8.881784197001253e-18 0.0 0.04" />
   <material  name="blue" />
   <geometry >
    <mesh  filename="./meshes/l1_module.obj"  scale="0.001 0.001 0.001" />
   </geometry>
  </visual>
 </link>
 <joint  name="joint_1_revolute"  type="revolute" >
  <parent  link="root_mod" />
  <child  link="linkMod_1" />
  <origin  rpy="0 0 0"  xyz="0.0 0.0 0.01" />
  <axis  xyz="0.0 0.0 1.0" />
 </joint>
 <transmission  name="act_joint_1_revolute" >
  <type  xmltext="SimpleTransmission" >
   SimpleTransmission
  </type>
  <actuator  name="trans_joint_1_revolute" >
   <mechanicalreduction  xmltext="1" >
    1
   </mechanicalreduction>
  </actuator>
  <joint  name="joint_1_revolute" />
 </transmission>
 <link  name="jointMod_2" >
  <inertial >
   <origin  rpy="-1.5707963267948963 0.0 0.0"  xyz="0.0 7.771561172376096e-19 -0.0035" />
   <mass  value="0.3" />
   <inertia  ixz="0.0"  izz="0.0005563635000000001"  iyy="0.00037090900000000005"  ixy="0.0"  iyz="0.0"  ixx="0.00037090900000000005" />
  </inertial>
  <visual >
   <origin  rpy="-1.5707963267948963 0.0 0.0"  xyz="0.0 7.771561172376096e-19 -0.0035" />
   <material  name="red" />
   <geometry >
    <mesh  filename="./meshes/j_module.obj"  scale="0.001 0.001 0.001" />
   </geometry>
  </visual>
 </link>
 <joint  name="joint_2_fixed"  type="fixed" >
  <parent  link="linkMod_1" />
  <child  link="jointMod_2" />
  <origin  rpy="0 0 0"  xyz="0.0 0.16 0.0" />
  <axis  xyz="0.0 0.0 -1.0" />
 </joint>
 <link  name="linkMod_3" >
  <inertial >
   <origin  rpy="1.5707963240855651 -1.2497703982816688e-08 -3.141592641092089"  xyz="0.03999999999999998 4.999081662324221e-10 -4.999081648780052e-10" />
   <mass  value="0.12" />
   <inertia  ixz="0.0"  iyy="0.0"  ixx="0.0005563635000000001"  ixy="0.0"  iyz="0.0"  izz="0.0005563635000000001" />
  </inertial>
  <visual >
   <origin  rpy="1.5707963240855651 -1.2497703982816688e-08 -3.141592641092089"  xyz="0.03999999999999998 4.999081662324221e-10 -4.999081648780052e-10" />
   <material  name="blue" />
   <geometry >
    <mesh  filename="./meshes/l2_module.obj"  scale="0.001 0.001 0.001" />
   </geometry>
  </visual>
 </link>
 <joint  name="joint_3_revolute"  type="revolute" >
  <parent  link="jointMod_2" />
  <child  link="linkMod_3" />
  <origin  rpy="0 0 0"  xyz="0.03 0.00030000000000001174 -0.053000000000000005" />
  <axis  xyz="1.0 0.0 0.0" />
 </joint>
 <transmission  name="act_joint_3_revolute" >
  <type  xmltext="SimpleTransmission" >
   SimpleTransmission
  </type>
  <actuator  name="trans_joint_3_revolute" >
   <mechanicalreduction  xmltext="1" >
    1
   </mechanicalreduction>
  </actuator>
  <joint  name="joint_3_revolute" />
 </transmission>
 <link  name="jointMod_4" >
  <inertial >
   <origin  rpy="1.5707963267948963 0.0 0.0"  xyz="0.0 7.771561172376096e-19 0.0035" />
   <mass  value="0.3" />
   <inertia  ixz="0.0"  izz="0.0005563635000000001"  iyy="0.00037090900000000005"  ixy="0.0"  iyz="0.0"  ixx="0.00037090900000000005" />
  </inertial>
  <visual >
   <origin  rpy="1.5707963267948963 0.0 0.0"  xyz="0.0 7.771561172376096e-19 0.0035" />
   <material  name="red" />
   <geometry >
    <mesh  filename="./meshes/j_module.obj"  scale="0.001 0.001 0.001" />
   </geometry>
  </visual>
 </link>
 <joint  name="joint_4_fixed"  type="fixed" >
  <parent  link="linkMod_3" />
  <child  link="jointMod_4" />
  <origin  rpy="0 0 0"  xyz="0.0400000018496602 9.892714319227296e-11 0.14799999950009177" />
  <axis  xyz="0.0 -0.0 1.0" />
 </joint>
 <link  name="linkMod_5" >
  <inertial >
   <origin  rpy="1.5707963240855651 -1.2497703982816688e-08 -3.141592641092089"  xyz="0.03999999999999998 4.999081662324221e-10 -4.999081648780052e-10" />
   <mass  value="0.12" />
   <inertia  ixz="0.0"  iyy="0.0"  ixx="0.0005563635000000001"  ixy="0.0"  iyz="0.0"  izz="0.0005563635000000001" />
  </inertial>
  <visual >
   <origin  rpy="1.5707963240855651 -1.2497703982816688e-08 -3.141592641092089"  xyz="0.03999999999999998 4.999081662324221e-10 -4.999081648780052e-10" />
   <material  name="blue" />
   <geometry >
    <mesh  filename="./meshes/l2_module.obj"  scale="0.001 0.001 0.001" />
   </geometry>
  </visual>
 </link>
 <joint  name="joint_5_revolute"  type="revolute" >
  <parent  link="jointMod_4" />
  <child  link="linkMod_5" />
  <origin  rpy="0 0 0"  xyz="0.03 -0.0002999999999999882 0.053000000000000005" />
  <axis  xyz="1.0 0.0 0.0" />
 </joint>
 <transmission  name="act_joint_5_revolute" >
  <type  xmltext="SimpleTransmission" >
   SimpleTransmission
  </type>
  <actuator  name="trans_joint_5_revolute" >
   <mechanicalreduction  xmltext="1" >
    1
   </mechanicalreduction>
  </actuator>
  <joint  name="joint_5_revolute" />
 </transmission>
 <link  name="eef" />
 <joint  name="eef_joint"  type="fixed" >
  <parent  link="linkMod_5" />
  <child  link="eef" />
  <origin  rpy="0 0 0"  xyz="0.0400000018496602 9.892714319227296e-11 0.14799999950009177" />
  <axis  xyz="0.0 -0.0 1.0" />
 </joint>
</robot>
