<robot name="j_module">
<material  name="blue" >
 <color  rgba="0 0 0.8 1.0" />
</material>
<material  name="red" >
 <color  rgba="0.8 0 0 1.0" />
</material>
  <link name="base_link">
    <visual>
      <origin rpy="1.5708 0 0" xyz="0 0 0"/>
      <material  name="red" />
      <geometry>
        <mesh filename="./meshes/j_module.obj" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
</robot>
