<?xml version="1.0"?>
<robot  name="cl1" >
 <material  name="blue" >
  <color  rgba="0 0 0.8 1.0" />
 </material>
 <material  name="red" >
  <color  rgba="0.8 0 0 1.0" />
 </material>
 <material  name="white" >
  <color  rgba="1.0 1.0 1.0 0.4" />
 </material>
 <material  name="black" >
  <color  rgba="0.0 0.0 0.0 1.0" />
 </material>
 <link  name="cl1" >
  <visual >
   <origin  xyz="0 0 0"  rpy="0 0 0" />
   <material  name="blue" />
   <geometry >
    <mesh  scale="0.001 0.001 0.001"  filename="./meshes/curved-link-3.obj" />
   </geometry>
  </visual>
 </link>
</robot>

